__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
outputs/*
models/*
data/*
!outputs/.gitkeep
!models/.gitkeep
!data/.gitkeep
*.png
*.log
